{% extends "header.html" %}

{% block title %}Пример статьи{% endblock %}
{% load static %}
{% block content %}

    <section  class="pt-5 pb-5 py-md-10 overlay overlay-black overlay-70">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col col-md col-lg text-center">
                    <!-- Heading -->
                    <h1 class="display-4 fw-bold text-white">
                        Название статьи
                    </h1>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-8">
            <span class="badge rounded-pill bg-gray-600 badge-float badge-float-inside">
                                    <span class="h6 text-uppercase">Абитуриентам</span>
                                </span>
                    <br>
                    <div class="mb-1 text-muted ">12 Ноября</div>

                    <p class="card-text mb-auto mt-3 " align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum. In culpa qui officia deserunt mollit anim id est laborum.

                        Excepteur sint occaecat cupidatat, dolore eu fugiat nulla pariatur non proident. Dolorem sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et fugiat nulla pariatur dolore magna aliqua. Irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p><br>
                    <p align="justify">
                        Nam tempor utamur gubergren no. Pri quas audiam virtute ut, case utamur fuisset eam ut, dolor in reprehenderit iisque accommodare an eam. Reque blandit qui eu, cu vix nonumy volumus. Intellegam fugiat nulla pariatur id usu, vide oporteat vix eu, id illud principes has.

                        Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                        Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p><br>
                    <p align="justify">
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Elit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat. Reprehenderit in voluptate, esse cillum dolor velit esse cillum.

                        Reprehenderit in voluptate velit esse cillum dolore sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in venus.

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in venus.
                    </p>


                </div>
                <div class="col-4 mb-10">

                    <div class="list-group mt-5 pt-5">
                        <h3 class="text-muted align-content-center">Теги</h3>
                        <a href="#" class="list-group-item list-group-item-action">Абитуриентам</a>
                        <a href="#" class="list-group-item list-group-item-action">Студентам</a>
                        <a href="#" class="list-group-item list-group-item-action">Новости</a>
                    </div>

                </div>
            </div>

        </div>
    </section>



{% endblock %}