{% extends "header.html" %}

{% block title %}Пример статьи{% endblock %}
{% load static %}
{% block content %}

    <header class="bg-dark pt-9 pb-11 d-none d-md-block">
        <div class="container-md">
            <div class="row align-items-center">
                <div class="col text-center">

                    <!-- Heading -->
                    <h1 class="fw-bold text-white mb-2">
                        {{ post.title }}
                    </h1>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-8">
                    {% if post.tag_id.all|length %}
                        <span class="badge rounded-pill bg-gray-600 badge-float badge-float-inside">
                                    <span class="h6 text-uppercase"> {% with  post.tag_id.all|first as tag %}{{ tag.name }}{% endwith %}</span>
                                </span>
                    {% endif %}
                    <br>
                    <div class="mb-1 text-muted ">{{ post.date |date:"d M" }}</div>

                    {% if post.thumbnail %}
                        <img src="{{ post.thumbnail.url }}" class="mt-3" height="255">
                    {% endif %}
                    <br><br>
                    <div class="text-justify mb-10">
                        {{ post.text|safe }}
                    </div>
                </div>
                <div class="col"></div>
            </div>

        </div>
    </section>



{% endblock %}