{% extends "header.html" %}

{% block title %}Пример статьи{% endblock %}
{% load static %}
{% block content %}

    <section  class="pt-5 pb-5 py-md-10 overlay overlay-black overlay-70">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col col-md col-lg text-center">
                    <!-- Heading -->
                    <h1 class="display-4 fw-bold text-white">
                        Новости
                    </h1>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    <section>
        <div class="container mt-5 pt-10 mb-10">
            <div class="row">
                <div class="col-8">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative  bg-white " data-aos="fade-up">
                        <div class="col p-4 d-flex flex-column position-static">
            <span class="badge rounded-pill bg-gray-600 badge-float badge-float-inside">
                                    <span class="h6 text-uppercase">Абитуриентам</span>
                                </span>
                            <br>
                            <div class="mb-1 text-muted ">12 Ноября</div>
                            <h3 class="mb-3 mt-3">Название новости</h3>

                            <p class="card-text mb-auto mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pellentesque quis nibh nec porta. </p>
                            <a href="{% url 'blog:news_detail' %}" class="text-muted">Подробнее</a>
                        </div>
                    </div>
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative  bg-white" data-aos="fade-up">
                        <div class="col p-4 d-flex flex-column position-static">
            <span class="badge rounded-pill bg-gray-600 badge-float badge-float-inside">
                                    <span class="h6 text-uppercase">Абитуриентам</span>
                                </span>
                            <br>
                            <div class="mb-1 text-muted ">12 Ноября</div>
                            <h3 class="mb-3 mt-3">Название новости</h3>

                            <p class="card-text mb-auto mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pellentesque quis nibh nec porta. </p>
                            <a href="{% url 'blog:news_detail' %}" class="text-muted">Подробнее</a>
                        </div>
                    </div>
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative  bg-white" data-aos="fade-up">
                        <div class="col p-4 d-flex flex-column position-static">
            <span class="badge rounded-pill bg-gray-600 badge-float badge-float-inside">
                                    <span class="h6 text-uppercase">Абитуриентам</span>
                                </span>
                            <br>
                            <div class="mb-1 text-muted ">12 Ноября</div>
                            <h3 class="mb-3 mt-3">Название новости</h3>

                            <p class="card-text mb-auto mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pellentesque quis nibh nec porta. </p>
                            <a href="{% url 'blog:news_detail' %}" class="text-muted">Подробнее</a>
                        </div>
                    </div>
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative  bg-white" data-aos="fade-up">
                        <div class="col p-4 d-flex flex-column position-static">
            <span class="badge rounded-pill bg-gray-600 badge-float badge-float-inside">
                                    <span class="h6 text-uppercase">Абитуриентам</span>
                                </span>
                            <br>
                            <div class="mb-1 text-muted ">12 Ноября</div>
                            <h3 class="mb-3 mt-3">Название новости</h3>

                            <p class="card-text mb-auto mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pellentesque quis nibh nec porta. </p>
                            <a href="{% url 'blog:news_detail' %}" class="text-muted">Подробнее</a>
                        </div>
                    </div>
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative  bg-white" data-aos="fade-up">
                        <div class="col p-4 d-flex flex-column position-static">
            <span class="badge rounded-pill bg-gray-600 badge-float badge-float-inside">
                                    <span class="h6 text-uppercase">Абитуриентам</span>
                                </span>
                            <br>
                            <div class="mb-1 text-muted ">12 Ноября</div>
                            <h3 class="mb-3 mt-3">Название новости</h3>

                            <p class="card-text mb-auto mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pellentesque quis nibh nec porta. </p>
                            <a href="{% url 'blog:news_detail' %}" class="text-muted">Подробнее</a>
                        </div>
                    </div>


                    <nav aria-label="Page navigation example">
                        <ul class="pagination mt-5 pt-5">
                            <li class="page-item"><a class="page-link" href="#">Предыдущая</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Следующая</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-4 mb-10">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Поиск</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="list-group mt-5 pt-5">
                        <h3 class="text-muted align-content-center">Теги</h3>
                        <a href="#" class="list-group-item list-group-item-action">Абитуриентам</a>
                        <a href="#" class="list-group-item list-group-item-action">Студентам</a>
                        <a href="#" class="list-group-item list-group-item-action">Новости</a>
                    </div>

                </div>
            </div>
        </div>
    </section>



{% endblock %}