.photo-img {
    width: 212px;
}

body.main{
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif

}

.navbar-nav .nav-link {
    font-weight: normal;
}

.program {
    font-size: 0.8rem;
}
.program tr {
    line-height: 15px;
    min-height: 25px;
    height: 15px;
}

.text-justify {
    text-align: justify;
}

.display-45 {
    font-size: 1.7rem;
}


.background-news{
    background: #265494;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #265494, #345899);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #265494, #345899); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.flex-box {
  display: flex;
  justify-content: space-between;
}
.myFloat_Right {
    float: right;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}