{% extends "header.html" %}

{% block title %}Поступление на факультет{% endblock %}

{% block content %}
    <section class="pt-8 pt-md-11 bg-gradient-light-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">


                    <h1>Компьютерная школа ФИСТ</h1>
                </div>
                <div>
                    <div>
                        Поступление на ФИСТ осуществляется по результатам ЕГЭ.
                        Для выпускников колледжей - по результатам внутреннего экзамена УлГТУ.
                        Подробная информация о поступлении содержится на <a href="pk.ulstu.ru" target="_blank">сайте приёмной комиссии УлГТУ</a>.
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}