{% extends "header.html" %}
{% block title %}История ФИСТ{% endblock %}
{% load static %}
{% block content %}
    <section class="py-8 py-md-11 bg-gray-200">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-10 text-center">

                    <!-- Heading -->
                    <h2 class="fw-bold text-center" id="history">
                        История ФИСТ
                    </h2>

                    <!-- Text -->
                    <p class="lead mb-7 text-center text-muted">
                        Факультет информационных систем и технологий УлГТУ был основан в 1995 году на базе кафедр
                        “Измерительно-вычислительные комплексы” (заведующий кафедрой Киселев Сергей Константинович,
                        д.т.н., проф.) и
                        “Вычислительная техника” (Святов Кирилл Валерьевич, к.т.н., доцент).
                    </p>
                    <p class="text-justify">
                        В 1997 году на факультете была открыта кафедра “Информационные системы”
                        (Ярушкина Надежда Глебовна, д.т.н., проф., проректор по научной работе УлГТУ)
                        на базе цикла “Информационные системы в экономике” кафедры “Вычислительная техника”.
                        В 2014 году в состав факультета вошла кафедра “Прикладная математика и информатика”
                        (Крашенинников Виктор Ростиславович, д.т.н., проф.),
                        которая была основана в 1992 году на базе радиотехнического факультета
                        (при этом с 1999 по 2014 годы входила в состав экономико-математического факультета).
                    </p>
                    <p class="text-justify">
                        Первым деканом ФИСТ стал Игорь Александрович Никищенков, с 1997 по 2015 год факультетом
                        руководил
                        Вадим Викторинович Шишкин, с 2015 года - Кирилл Валерьевич Святов.
                    </p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/QZl6MR-Ki6o"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    <h2 class="fw-bold" id="why">
                        ФИСТ сегодня
                    </h2>

                    <p class="text-justify">
                        На ФИСТ УлГТУ в настоящее время работают 37 кандидатов и 11 докторов наук, подавляющее
                        большинство которых являются выпускниками кафедр, входящих в состав ФИСТ. Выпускники, получившие
                        ученые степени, работают во многих других университетах Ульяновска, России и мира.</p>
                    <p class="text-justify">
                        Факультет проводит подготовку по программам бакалавриата, магистратуры и аспирантуры - в
                        настоящее время обучается около 1000 студентов, в т.ч. около 200 студентов в Центре открытого
                        образования ФИСТ. Большая часть студентов учится на бюджетной основе.
                    </p>
                    <p class="text-justify">
                        Студенты ФИСТ становились неоднократными победителями всероссийских и международных соревнований
                        в области ИТ: выходили в полуфинал чемпионата мира по программированию ACM ICPC, выигрывали в
                        нескольких номинациях Всероссийского робототехнического фестиваля, побеждают в соревнованиях по
                        1С, выигрывают большую часть призовых мест во всероссийской олимпиаде “Волга ИТ”, участвуют в
                        конференциях, выставках, семинарах.
                    </p>
                    <p class="text-justify">

                        На кафедрах факультета ежегодно проводятся всероссийские и международные научные конференции с
                        участием ученых из более чем 10 стран мира. На факультете ведется активная научная работа,
                        установлены тесные связи с предприятиями и ИТ-компаниями Ульяновска, России и мира, открыты
                        базовые кафедры с ФНПЦ “НПО “МАРС”, АО “УКБП”, ООО “Симбирсофт”, Itech.Group. При факультете
                        действуют два малых инновационных предприятия (ООО “Интелсофт”, ООО “ЦТТ”).
                    </p>
                    <p class="text-justify">

                        За время своего существования кафедрами, входящими в состав ФИСТ было подготовлено более 15000
                        выпускников, подавляющее большинство которых успешно работает в сфере информационных технологий.
                        Выпускники и бывшие студенты ФИСТ являются руководителями многих компаний и организаций в
                        Ульяновске, России и мире: Itech.Group (Щербина А.А.), Ecwid (Фазлыев Р.Р.), MediaSoft
                        (Полуэктов С.В.)
                        Interra Group (Шамарин А.), ГК ИТМ (Калимуллин К. Г.) и множество других.
                    </p>
                    <p class="text-justify">

                        Более 95% выпускников ФИСТ устраиваются на работу по специальности. Наши выпускники работают в
                        Microsoft, Apple, Google, Yandex и в других компаниях-лидерах ИТ-индустрии. ФИСТ - лидер в области
                        подготовки профессиональных специалистов в области ИТ в Ульяновской области благодаря
                        профессионализму сотрудников факультета, его богатой истории!
                    </p>

                </div>

            </div>
        </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>



{% endblock %}