{% extends "header.html" %}

{% block title %}Факультет информационных систем и технологий{% endblock %}
{% load static %}
{% block content %}

    <section data-jarallax data-speed=".8" class="pt-10 pb-11 py-md-14 overlay overlay-black overlay-70 jarallax"
             style="background-image: url({% static 'img/inmoov.png' %});">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4"></div>
                <div class="col-8 col-md-8 col-lg-8 text-center">

                    <!-- Heading -->
                    <h1 class="display-4 fw-bold text-white">
                        Факультет информационных систем и технологий УлГТУ
                    </h1>

                    <p class="lead text-white-75 mb-0 text-muted">
                        В 2021 году на ФИСТ выделено 302 бюджетных места! Это почти в 1,5 раза больше, чем в 2020 году.
                        Поступить стало проще!
                    </p>
                    <br />
                    <p class="text-white-75 mb-0 display-45">
                        А еще мы проводим <a href="{% url 'landings:north_valley' %}">переподготовку взрослых</a> и <a href="{% url 'landings:compschool' %}">обучение ИТ-технологиям детей</a>!
                    </p>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    <section class="py-8 py-md-11 bg-gray-200">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-10 text-center">

                    <!-- Heading -->
                    <h2 class="fw-bold" id="why">
                        Высшее образование это не просто диплом.
                    </h2>

                    <!-- Text -->
                    <p class="fs-lg text-muted mb-7 mb-md-9">
                        На ФИСТ УлГТУ мы готовим специалистов, способных решать сложные задачи с использованием
                        системных знаний в ИТ и инженерии.
                        Мы учим определять цели, основанные на ценностях в бизнесе, а также создавать ИТ-решения для
                        достижения этих целей.
                    </p>

                </div>
            </div> <!-- / .row -->
            <div class="row gx-4">
                <div class="col-12 col-lg-6 d-lg-flex mb-4">

                    <!-- Card -->
                    <div class="card shadow-light-lg overflow-hidden" data-aos="fade-up">
                        <div class="row">
                            <div class="col-md-4 position-relative">

                                <!-- Image -->
                                <img src="{% static 'assets/img/illustrations/illustration-8.png' %}"
                                     class="h-75 position-absolute right-0 mt-7 me-n4" alt="...">

                            </div>
                            <div class="col-md-8">

                                <!-- Body -->
                                <div class="card-body py-7 py-md-9 text-center">

                                    <!-- Heading -->
                                    <h4 class="fw-bold">
                                        Знания
                                    </h4>

                                    <!-- Text -->
                                    <p class="text-muted mb-0 text-justify small">
                                        Получение системных знаний в области программирования и принципов проектирования
                                        ИТ-систем.
                                    </p>

                                </div>

                            </div>
                        </div> <!-- / .row -->
                    </div>

                </div>
                <div class="col-12 col-lg-6 d-lg-flex mb-4">

                    <!-- Card -->
                    <div class="card shadow-light-lg overflow-hidden text-center" data-aos="fade-up">
                        <div class="row">
                            <div class="col-md-8">

                                <!-- Body -->
                                <div class="card-body py-7 py-md-9">

                                    <!-- Heading -->
                                    <h4 class="fw-bold ">
                                        Прагматизм
                                    </h4>

                                    <!-- Text -->
                                    <p class="text-muted mb-0 text-justify small">
                                        В ИТ-компаниях нужны люди, которые умеют решать проблемы,
                                        а не просто писать код.
                                        Мы учим выявлять проблемы и решать их.
                                    </p>

                                </div>

                            </div>
                            <div class="col-md-4">

                                <!-- Image -->
                                <img src="{% static 'assets/img/illustrations/illustration-6.png' %}"
                                     class="h-75 position-absolute left-0 mt-7" alt="...">

                            </div>
                        </div> <!-- / .row -->
                    </div>

                </div>
            </div> <!-- / .row -->
            <div class="row">
                <div class="col-12">

                    <!-- Card -->
                    <div class="card shadow-light-lg overflow-hidden text-center text-lg-start" data-aos="fade-up">
                        <div class="row">
                            <div class="col-md-4 position-relative">

                                <!-- Image -->
                                <img src="{% static 'assets/img/illustrations/illustration-2.png' %}"
                                     class="h-75 position-absolute right-0 mt-6" alt="...">

                            </div>
                            <div class="col-md-8">

                                <!-- Body -->
                                <div class="card-body py-7 py-md-9">

                                    <!-- Heading -->
                                    <h4 class="fw-bold">
                                        Опыт
                                    </h4>

                                    <!-- Text -->
                                    <p class="text-muted mb-0  text-justify small">
                                        Мы работаем в сотрудничестве с ведущими российскими ИТ-компаниями и
                                        предприятиями.
                                        Во время обучения у студентов много возможностей научиться решать реальные и
                                        полезные задачи.
                                        Можно поступить по договору целевого обучения.
                                    </p>

                                </div>

                            </div>
                        </div> <!-- / .row -->
                    </div>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    <section class="pt-8 pt-md-11 bg-gradient-light-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">


                    <!-- Heading -->
                    <h1 id="programs">
                        Направления подготовки
                    </h1>
                    <!-- Text -->
                    <p class="fs-lg text-muted mb-7 mb-md-9">
                        На ФИСТ УлГТУ программирование изучается на всех направлениях подготовки.
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-12">

                    <!-- ИВТ -->
                    <div class="card card-row shadow-light-lg mb-6 lift lift-lg">
                        <div class="row gx-0">
                            <div class="col-12">

                                <!-- Badge -->
                                <span class="badge rounded-pill bg-light badge-float badge-float-inside">
                                    <span class="h6 text-uppercase">Кафедра ВТ</span>
                                </span>

                            </div>
                            <a class="col-12 col-md-6 order-md-2 bg-cover card-img-end"
                               style="background-image: url({% static 'img/ivt.jpeg' %});" href="#!">

                                <!-- Image (placeholder) -->
                                <img src="{% static '/img/photos/photo-27.jpg' %}" alt="..."
                                     class="img-fluid d-md-none invisible">

                                <!-- Shape -->
                                <div class="shape shape-start shape-fluid-y svg-shim text-white d-none d-md-block">
                                    <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 0h62.759v172C38.62 384 112 517 112 517v173H0V0z"
                                              fill="currentColor"/>
                                    </svg>
                                </div>

                            </a>
                            <div class="col-12 col-md-6 order-md-1">

                                <!-- Body -->
                                <a class="card-body" href="#">

                                    <!-- Heading -->
                                    <h3>Информатика и вычислительная техника
                                    </h3>

                                    <!-- Text -->
                                    <p class="mb-0 text-muted small">
                                        87 бюджетных мест. ЕГЭ: русский язык | математика | информатика или физика
                                    </p>
                                    <p class="mb-0 small">
                                        Создание средств автоматизации проектирования,
                                        серверного ПО, интернета вещей, высоконагруженных систем,
                                        сложного алгоритмического обеспечения, искусственного интеллекта,
                                        робототехники, в т.ч. для компаний мирового уровня.
                                        На кафедре действует лаборатория IoT Samsung, центр спортивного программирования
                                        и мобильной робототехники.
                                    </p>

                                </a>


                            </div>

                        </div> <!-- / .row -->
                    </div>

                    <!-- ПИ -->
                    <div class="card card-row shadow-light-lg mb-6">
                        <div class="row gx-0">
                            <div class="col-12">

                                <!-- Badge -->
                                <span class="badge rounded-pill bg-gray-600 badge-float badge-float-outside">
                                    <span class="h6 text-uppercase">Кафедра ИС</span>
                                  </span>

                            </div>
                            <a class="col-12 col-md-6 bg-cover card-img-start"
                               style="background-image: url({% static 'img/pi.jpeg' %});" href="#!">

                                <!-- Image (placeholder) -->
                                <img src="{% static 'assets/img/photos/photo-28.jpg' %}" alt="..."
                                     class="img-fluid d-md-none invisible">

                                <!-- Shape -->
                                <div class="shape shape-end shape-fluid-y svg-shim text-white d-none d-md-block">
                                    <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M116 0H51v172C76 384 0 517 0 517v173h116V0z"
                                              fill="currentColor"></path>
                                    </svg>
                                </div>

                            </a>
                            <div class="col-12 col-md-6">

                                <!-- Body -->
                                <a class="card-body" href="#">

                                    <!-- Heading -->
                                    <h3>
                                        Программная инженерия
                                    </h3>

                                    <p class="mb-0 text-muted small">
                                        75 бюджетных мест. ЕГЭ: русский язык | математика | информатика или физика
                                    </p>
                                    <p class="mb-0 small">
                                        Создание программного обеспечения для веб, настольных систем,
                                        мобильных приложений, глубокое понимание процессов и технологий проектирования
                                        и создания программного обеспечения.
                                    </p>

                                </a>
                            </div>

                        </div>
                    </div>

                    <!-- ИСТ -->
                    <div class="card card-row shadow-light-lg mb-6 lift lift-lg">
                        <div class="row gx-0">
                            <div class="col-12">

                                <!-- Badge -->
                                <span class="badge rounded-pill bg-light badge-float badge-float-inside">
                                    <span class="h6 text-uppercase">Кафедра ИВК</span>
                                </span>

                            </div>
                            <a class="col-12 col-md-6 order-md-2 bg-cover card-img-end"
                               style="background-image: url({% static 'img/ist.jpeg' %});" href="#!">

                                <!-- Image (placeholder) -->
                                <img src="{% static '/img/photos/photo-27.jpg' %}" alt="..."
                                     class="img-fluid d-md-none invisible">

                                <!-- Shape -->
                                <div class="shape shape-start shape-fluid-y svg-shim text-white d-none d-md-block">
                                    <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 0h62.759v172C38.62 384 112 517 112 517v173H0V0z"
                                              fill="currentColor"/>
                                    </svg>
                                </div>

                            </a>
                            <div class="col-12 col-md-6 order-md-1">

                                <!-- Body -->
                                <a class="card-body" href="#">

                                    <!-- Heading -->
                                    <h3>Информационные системы и технологии
                                    </h3>

                                    <!-- Text -->
                                    <p class="mb-0 text-muted small">
                                        50 бюджетных мест. ЕГЭ: русский язык | математика | информатика или физика
                                    </p>
                                    <p class="mb-0 small">
                                        Создание и проектирование программного обеспечения, аппаратных средств, средств компьютерной графики (в т.ч. 3D и алгоритмы преобразования изображений).
                                    </p>

                                </a>


                            </div>

                        </div> <!-- / .row -->
                    </div>

                    <!-- ИСЭ -->
                    <div class="card card-row shadow-light-lg mb-6">
                        <div class="row gx-0">
                            <div class="col-12">

                                <!-- Badge -->
                                <span class="badge rounded-pill bg-gray-600 badge-float badge-float-outside">
                                    <span class="h6 text-uppercase">Кафедра ИС</span>
                                  </span>

                            </div>
                            <a class="col-12 col-md-6 bg-cover card-img-start"
                               style="background-image: url({% static 'img/pi1c.png' %});" href="#!">

                                <!-- Image (placeholder) -->
                                <img src="{% static 'assets/img/photos/photo-28.jpg' %}" alt="..."
                                     class="img-fluid d-md-none invisible">

                                <!-- Shape -->
                                <div class="shape shape-end shape-fluid-y svg-shim text-white d-none d-md-block">
                                    <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M116 0H51v172C76 384 0 517 0 517v173h116V0z"
                                              fill="currentColor"></path>
                                    </svg>
                                </div>

                            </a>
                            <div class="col-12 col-md-6">

                                <!-- Body -->
                                <a class="card-body" href="#">

                                    <!-- Heading -->
                                    <h3>
                                        Прикладная информатика.
                                    </h3>

                                    <p class="mb-0 text-muted small">
                                        40 бюджетных мест. ЕГЭ: русский язык | математика | информатика или физика
                                    </p>
                                    <p class="mb-0 small">
                                        Знания по экономике и по программированию экономических задач. Выпускники работают во всех отраслях народного хозяйства, банковских, коммерческих и государственных структурах. Глубоко изучается среда 1С, экономика, бухгалтеский учет, программирование и многие другие дисциплины.
                                    </p>

                                </a>
                            </div>

                        </div>
                    </div>

                    <!-- ПМ -->
                    <div class="card card-row shadow-light-lg mb-6 lift lift-lg">
                        <div class="row gx-0">
                            <div class="col-12">

                                <!-- Badge -->
                                <span class="badge rounded-pill bg-light badge-float badge-float-inside">
                                    <span class="h6 text-uppercase">Кафедра ПМИ</span>
                                </span>

                            </div>
                            <a class="col-12 col-md-6 order-md-2 bg-cover card-img-end"
                               style="background-image: url({% static 'img/pm.jpeg' %});" href="#!">

                                <!-- Image (placeholder) -->
                                <img src="{% static '/img/photos/photo-27.jpg' %}" alt="..."
                                     class="img-fluid d-md-none invisible">

                                <!-- Shape -->
                                <div class="shape shape-start shape-fluid-y svg-shim text-white d-none d-md-block">
                                    <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 0h62.759v172C38.62 384 112 517 112 517v173H0V0z"
                                              fill="currentColor"/>
                                    </svg>
                                </div>

                            </a>
                            <div class="col-12 col-md-6 order-md-1">

                                <!-- Body -->
                                <a class="card-body" href="#">

                                    <!-- Heading -->
                                    <h3>Прикладная математика
                                    </h3>

                                    <!-- Text -->
                                    <p class="mb-0 text-muted small">
                                        25 бюджетных мест. ЕГЭ: русский язык | математика | информатика или физика
                                    </p>
                                    <p class="mb-0 small">
                                        Создание и использование математического программного обеспечения, сложных алгоритмических систем и систем автоматизации проектирования. Математическое моделирование – основа создания сложных программных систем.
                                    </p>

                                </a>


                            </div>

                        </div> <!-- / .row -->
                    </div>

                    <!-- ПС -->
                    <div class="card card-row shadow-light-lg mb-6">
                        <div class="row gx-0">
                            <div class="col-12">

                                <!-- Badge -->
                                <span class="badge rounded-pill bg-gray-600 badge-float badge-float-outside">
                                    <span class="h6 text-uppercase">Кафедра ИВК</span>
                                  </span>

                            </div>
                            <a class="col-12 col-md-6 bg-cover card-img-start"
                               style="background-image: url({% static 'img/ps.jpeg' %});" href="#!">

                                <!-- Image (placeholder) -->
                                <img src="{% static 'assets/img/photos/photo-28.jpg' %}" alt="..."
                                     class="img-fluid d-md-none invisible">

                                <!-- Shape -->
                                <div class="shape shape-end shape-fluid-y svg-shim text-white d-none d-md-block">
                                    <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M116 0H51v172C76 384 0 517 0 517v173h116V0z"
                                              fill="currentColor"></path>
                                    </svg>
                                </div>

                            </a>
                            <div class="col-12 col-md-6">

                                <!-- Body -->
                                <a class="card-body" href="#">

                                    <!-- Heading -->
                                    <h3>
                                        Индустриальный интернет
                                    </h3>

                                    <p class="mb-0 text-muted small">
                                        25 бюджетных мест. ЕГЭ: русский язык | математика | информатика или физика или химия
                                    </p>
                                    <p class="mb-0 small">
                                        Разработка авиационных приборов и средств автоматизации. Выпускники разрабатывают авионику для самолетов и вертолетов, наземной техники, занимаются созданием сложных программно-аппаратных комплексов, созданием программного обеспечения, в т.ч. для оборонной промышленности и ведущих ИТ-компаний. Открыта базовая кафедра с АО УКБП.
                                    </p>

                                </a>
                            </div>

                        </div>
                    </div>


                </div>
            </div> <!-- / .row -->

        </div>
    </section>


    <section class="py-8 py-md-11 bg-gray-200">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-10 text-center mb-3">

                    <!-- Heading -->
                    <h2 class="fw-bold" id="why">
                        Новости
                    </h2>

                </div>
                <div class="row gx-4">
                    {% for post in posts %}
                <div class="col-12 col-lg-6 d-lg-flex mb-4">

                    <!-- Card -->
                    <div class="card shadow-light-lg overflow-hidden" data-aos="fade-up">
                        <div class="row">
                            <div class="col">

                                <!-- Body -->
                                <div class="card-body py-7 py-md-9">
                                     {% if post.tag_id.all|length %}
                                        <span class="badge rounded-pill bg-gray-600 badge-float badge-float-inside">
                                    <span class="h6 text-uppercase"> {% with  post.tag_id.all|first as tag %}{{ tag.name }}{% endwith %}</span>
                                </span>
                                    {% endif %}

                                    <div class="mb-3 text-muted ">{{ post.date |date:"d M" }}</div>

                                    <!-- Heading -->
                                    <h4 class="fw-bold">
                                        {{ post.title }}
                                    </h4>

                                    <!-- Text -->
                                    <p class=" mb-0 text-justify small">
                                       {{ post.description}}
                                    </p>
                                <br>
                                <a href="{% url 'blog:news_detail' post.id %}" class=" text-muted mt-5 mb-0">Подробнее</a>

                                </div>

                            </div>
                        </div> <!-- / .row -->
                    </div>

                </div>
                {% endfor %}
                </div>
                <div class="row mb-5">
                    <div class="col text-center mt-5" data-aos="fade-up">
                        <a href="{% url 'blog:news' %}" class="btn btn-outline-secondary rounded-pill">Больше новостей</a>
                    </div>
                </div>

            </div> <!-- / .container -->
    </section>


{% endblock %}