<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}Факультет информационных систем и технологий УлГТУ{% endblock %}</title>
    <meta charset="utf-8"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/libs.bundle.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/theme.bundle.css' %}"/>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/blog.css' %}"/>
</head>
<body class="main bg-light" data-aos-easing="ease-out-quad" data-aos-duration="700"
      data-aos-delay="0">

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand" href="{% url 'landings:index' %}">
            <img src="{% static 'img/fist_logo.png' %}" class="navbar-brand-img" alt="..."/>
            <img src="{% static 'img/ulstu_logo.png' %}" class="navbar-brand-img" alt="..."/>
            <span>ФИСТ УлГТУ</span>
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fe fe-x"></i>
            </button>

            <!-- Navigation -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:news' %}">
                        Новости
                    </a>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarEnrolee" data-bs-toggle="dropdown" href="#"
                       aria-haspopup="true" aria-expanded="false">
                        Абитуриентам
                    </a>
                    <div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="navbarLandings">
                        <div class="row gx-0">
                            <div class="col-12 col-lg-12">
                                <div class="dropdown-body">
                                    <div class="row gx-0">
                                        <div class="col-6">

                                            <!-- Heading -->
                                            <h6 class="dropdown-header">
                                                Как поступить?
                                            </h6>

                                            <!-- List -->
                                            <a class="dropdown-item" href="https://vk.com/fist_school" target="_blank">
                                                <b>Компьютерная школа ФИСТ</b>
                                            </a>
                                            <a class="dropdown-item" href="http://pk.ulstu.ru/index.php?nav=rules2021" target="_blank">
                                                Подача документов
                                            </a>
                                            <a class="dropdown-item" href="http://pk.ulstu.ru/Documents/2020/PB.pdf" target="_blank">
                                                Проходные баллы
                                            </a><br/>

                                            <!-- Heading -->
                                            <h6 class="dropdown-header">
                                                Куда поступить?
                                            </h6>

                                            <!-- List -->
                                            <a class="dropdown-item" href="{% url 'landings:index' %}#programs">
                                                Направления подготовки ФИСТ
                                            </a>
                                            <a class="dropdown-item" href="../mobile-app.html">
                                                Как выбрать спецальность?
                                            </a>

                                        </div>
                                        <div class="col-6">

                                            <!-- Heading -->
                                            <h6 class="dropdown-header">
                                                Зачем идти в вуз?
                                            </h6>

                                            <!-- List -->
                                            <a class="dropdown-item" href="{% url 'landings:index' %}#why">
                                                Что дает высшее образование?
                                            </a>
                                            <a class="dropdown-item" href="https://ulyanovsk.hh.ru/search/vacancy?area=1614&clusters=true&enable_snippets=true&specialization=1.221&only_with_salary=true&salary=100000&from=cluster_compensation&showClusters=true" target="_blank">
                                                Где и кем работать после ФИСТ?
                                            </a>
                                            <br/>

                                            <h6 class="dropdown-header">
                                                Олимпиады и конкурсы
                                            </h6>

                                            <!-- List -->
                                            <a class="dropdown-item" href="http://ulivt.ru/ratings.php" target="_blank">
                                                Чемпионат по программированию ulivt.ru
                                            </a>
                                            <a class="dropdown-item" href="https://dovuz.sfu-kras.ru/belchonok/" target="_blank">
                                                Всероссийская олимпиада Бельчонок
                                            </a>
                                            <a class="dropdown-item" href="http://masterit.info/" target="_blank">
                                                Конкурс Master IT
                                            </a>

                                        </div>
                                    </div> <!-- / .row -->
                                </div>
                            </div>
                        </div> <!-- / .row -->
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarStudent" data-bs-toggle="dropdown" href="#"
                       aria-haspopup="true" aria-expanded="false">
                        Студентам
                    </a>
                    <div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="navbarLandings">
                        <div class="row gx-0">
                            <div class="col-12 col-lg-12">
                                <div class="dropdown-body">
                                    <div class="row gx-0">
                                        <div class="col-6">

                                            <!-- Heading -->
                                            <h6 class="dropdown-header">
                                                Навигатор
                                            </h6>

                                            <!-- List -->
                                            <a class="dropdown-item" href="https://www.ulstu.ru/main/view/article/10133" target="_blank">
                                                Расписание занятий
                                            </a>
                                            <a class="dropdown-item" href="https://www.ulstu.ru/main/view/article/1040" target="_blank">
                                                Официальные адреса и контакты
                                            </a>
                                            <br/>

                                            <!-- Heading -->
                                            <!--                                            <h6 class="dropdown-header"> <h3 class="pb-3 text-muted" align="center">Комментарии</h3>
                                                                                            Трудоустройство
                                                                                        </h6>

                                                                                        <a class="dropdown-item" href="../index.html">
                                                                                            Открытые вакансии
                                                                                        </a>
                                                                                        <a class="dropdown-item" href="../enterprise.html">
                                                                                            Прохождение практики
                                                                                        </a>
                                            -->
                                        </div>
                                        <div class="col-6">
                                            <!-- Heading -->
                                            <h6 class="dropdown-header">
                                                F.A.Q.
                                            </h6>

                                            <!--
                                                                                        <a class="dropdown-item" href="../desktop-app.html">
                                                                                            Командировки
                                                                                        </a>
                                                                                        <a class="dropdown-item" href="../mobile-app.html">
                                                                                            Заказ справок
                                                                                        </a>
                                                                                        <a class="dropdown-item" href="../mobile-app.html">
                                                                                            Общежития
                                                                                        </a>
                                                                                        <a class="dropdown-item" href="../mobile-app.html">
                                                                                            Отчисление
                                                                                        </a>
                                                                                        <a class="dropdown-item" href="../mobile-app.html">
                                                                                            Пересдачи экзаменов / зачетов
                                                                                        </a>
                                                                                        <a class="dropdown-item" href="../mobile-app.html">
                                                                                            Стипендии
                                                                                        </a>
                                                                                        <a class="dropdown-item" href="../mobile-app.html">
                                                                                            Перевод на бюджетную форму
                                                                                        </a>
                                            -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- / .row -->
                    </div>
                </li>
                <!--
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarAchievements" data-bs-toggle="dropdown" href="#"
                                       aria-haspopup="true" aria-expanded="false">
                                        Достижения
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="navbarLandings">
                                        <div class="row gx-0">
                                            <div class="col-12 col-lg-12">
                                                <div class="dropdown-body">
                                                    <div class="row gx-0">
                                                        <div class="col-8">

                                                            <h6 class="dropdown-header">
                                                                Лаборатории
                                                            </h6>

                                                            <a class="dropdown-item" href="../coworking.html">
                                                                Спортивное программирование
                                                            </a>
                                                            <a class="dropdown-item" href="../rental.html">
                                                                Робототехника
                                                            </a>
                                                            <a class="dropdown-item" href="../rental.html">
                                                                Искусственный интеллект
                                                            </a>
                                                            <a class="dropdown-item" href="../rental.html">
                                                                IT-Academy Samsung (Интернет вещей)
                                                            </a>
                                                            <a class="dropdown-item" href="../rental.html">
                                                                Huawei (Сети и телекоммуникации)
                                                            </a>
                                                            <br/>


                                                        </div>
                                                        <div class="col-4">

                                                            <h6 class="dropdown-header">
                                                                Знай наших
                                                            </h6>

                                                            <a class="dropdown-item" href="../desktop-app.html">
                                                                ИТ-компании
                                                            </a>
                                                            <a class="dropdown-item" href="../mobile-app.html">
                                                                Выпускники
                                                            </a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarCourses" data-bs-toggle="dropdown" href="#"
                       aria-haspopup="true" aria-expanded="false">
                        Курсы
                    </a>
                    <div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="navbarLandings">
                        <div class="row gx-0">
                            <div class="col-12 col-lg-12">
                                <div class="dropdown-body">
                                    <div class="row gx-0">
                                        <div class="col-6">

                                            <!-- Heading -->
                                            <h6 class="dropdown-header">
                                                Компьютерная школа (ДО)
                                            </h6>

                                            <!-- List -->
                                            <a class="dropdown-item" href="../rental.html">
                                                Подготовка к ЕГЭ по информатике
                                            </a>
                                            <a class="dropdown-item" href="../rental.html">
                                                Подготовка к ОГЭ по информатике
                                            </a>
                                            <a class="dropdown-item" href="../rental.html">
                                                Олимпиадное программирование
                                            </a>
                                            <a class="dropdown-item" href="../rental.html">
                                                Инженерное программирование
                                            </a>
                                            <a class="dropdown-item" href="../rental.html">
                                                Геймдизайн
                                            </a>
                                            <a class="dropdown-item" href="../rental.html">
                                                Игры на платформе Unity
                                            </a>
                                            <a class="dropdown-item" href="../rental.html">
                                                Игровые чат-боты на языке Python
                                            </a>
                                            <a class="dropdown-item" href="../rental.html">
                                                Компьютерная графика
                                            </a>
                                            <a class="dropdown-item" href="../rental.html">
                                                Разработка Web-сайтов
                                            </a>


                                        </div>
                                        <div class="col-6">
                                            <!-- Heading -->
                                            <h6 class="dropdown-header">
                                                Для взрослых
                                            </h6>

                                            <!-- List -->
                                            <a class="dropdown-item" href="{% url 'landings:north_valley' %}">
                                                Профессиональная переподготовка с нуля
                                            </a>
                                            <br/>

                                            <!-- Heading -->
                                            <h6 class="dropdown-header">
                                                Для студентов
                                            </h6>

                                            <!-- List -->
                                            <a class="dropdown-item" href="http://ling.ulstu.ru/linguistics/students/professional-interpreter/" target="_blank">
                                                Иностранный язык
                                            </a>
                                            <a class="dropdown-item" href="https://vk.com/it.place_simbirsoft" target="_blank">
                                                Курсы Simbirsoft
                                            </a>
                                            <a class="dropdown-item" href="https://academy.mediasoft.team/" target="_blank">
                                                Курсы MediaSoft
                                            </a>

                                        </div>
                                    </div> <!-- / .row -->
                                </div>
                            </div>
                        </div> <!-- / .row -->
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarAbout" data-bs-toggle="dropdown" href="#"
                       aria-haspopup="true" aria-expanded="false">
                        О факультете
                    </a>
                    <div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="navbarLandings">
                        <div class="row gx-0">
                            <div class="col-12 col-lg-12">
                                <div class="dropdown-body">
                                    <div class="row gx-0">
                                        <div class="col-8">

                                            <h6 class="dropdown-header">
                                                Кафедры
                                            </h6>

                                            <a class="dropdown-item" href="../rental.html">
                                                Вычислительная техника
                                            </a>
                                            <a class="dropdown-item" href="../rental.html">
                                                Прикладная математика и информатика
                                            </a>
                                            <a class="dropdown-item" href="../rental.html">
                                                Информационные системы
                                            </a>
                                            <a class="dropdown-item" href="../rental.html">
                                                Измерительно-вычислительные комплексы
                                            </a>
                                            <br/>

                                            <h6 class="dropdown-header">
                                                Направления подготовки
                                            </h6>
                                            <a class="dropdown-item" href="../rental.html">
                                                Бакалавриат
                                            </a>
                                            <a class="dropdown-item" href="../rental.html">
                                                Магистратура
                                            </a>
                                            <a class="dropdown-item" href="https://www.ulstu.ru/main/view/article/16964" target="_blank">
                                                Аспирантура
                                            </a>
                                            <a class="dropdown-item" href="https://www.ulstu.ru/main/view/article/17620" target="_blank">
                                                Докторантура
                                            </a>

                                        </div>
                                        <div class="col-4">
                                            <!-- Heading -->
                                            <h6 class="dropdown-header">
                                                История
                                            </h6>

                                            <!-- List -->
                                            <a class="dropdown-item" href="{% url 'landings:history' %}">
                                                История ФИСТ
                                            </a>
                                            <br/>

                                            <!-- Heading -->
                                            <h6 class="dropdown-header">
                                                Контакты
                                            </h6>

                                            <!-- List -->
                                            <a class="dropdown-item" href="../index.html">
                                                Контактные данные
                                            </a>

                                        </div>
                                    </div> <!-- / .row -->
                                </div>
                            </div>
                        </div> <!-- / .row -->
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarAccount" data-bs-toggle="dropdown" href="#"
                       aria-haspopup="true" aria-expanded="false">
                        {% if user.is_authenticated %}
                            {{ user.username }}
                        {% else %}
                            Аккаунт
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="navbarLandings">
                        <div class="row gx-0">
                            <div class="col-4 col-lg-4">
                                <div class="dropdown-body">
                                    <div class="row gx-0">
                                        <div class="col-12">

                                            <!-- Heading -->
                                            <h6 class="dropdown-header">
                                                Управление
                                            </h6>

                                            {% if user.is_authenticated %}
                                                <!-- List -->
                                                <a class="dropdown-item" href="{% url 'accounts:profile_change' %}">Данные
                                                    профиля</a>
                                                <a class="dropdown-item" href="{% url 'blog:news_admin' %}">Мои новости</a>
                                                <a class="dropdown-item" href="{% url 'blog:article_admin' %}">Мои статьи</a>
                                                <a class="dropdown-item" href="{% url 'accounts:password_change' %}">Сменить
                                                    пароль</a>
                                                <a class="dropdown-item" href="{% url 'accounts:logout' %}">Выйти</a>
                                            {% else %}
                                                <a href="{% url 'accounts:login' %}">Войти</a>
                                            {% endif %}
                                        </div>
                                    </div> <!-- / .row -->
                                </div>
                            </div>
                        </div> <!-- / .row -->
                    </div>
                </li>
            </ul>

        </div>

    </div>
    </div>
</nav>
{% block content %}{% endblock %}
<script src="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js"></script>
<script type="text/javascript" src="{% static 'assets/js/vendor.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/theme.bundle.js' %}"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="{% static 'js/bootstrap/popper.min.js' %}"></script>
{#<script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>#}
<script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.bundle.js' %}"></script>

{% block script %}{% endblock %}


<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(37866475, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/37866475" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>