{% extends "header.html" %}

{% block title %}Обновить статью{% endblock %}
{% load static %}
{% block content %}

    <section  class="pt-5 pb-5 py-md-10 overlay overlay-black overlay-70">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col col-md col-lg text-center">
                    <!-- Heading -->
                    <h1 class="display-4 fw-bold text-white">
                        Обновить статью
                    </h1>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    <section class="bg-white pt-10 pb-10">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endif %}

                        {{ form.media }}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-outline-primary mt-5">Сохранить</button>


                    </form>
                </div>
            </div>
        </div>
    </section>



{% endblock %}